<h2>Welcome <%=current_user.username%>!</h2>

<h3>Pedigree of <%=@tree.name%></h3>
  <h4>Members of the Tree:</h4>

  <%@individuals.each do |t|%>
    <ul><a href="/family_trees/<%=@tree.id%>/individuals/<%=t.id%>"><%=t.name%></a></ul>
    <%end%>
    <p></p><br></br><p></p>

  <p><a href="/family_trees/<%=@tree.id%>/individuals/new">Add Individuals</a></p>
  <p><a href="/family_trees/<%=@tree.id%>/edit">Edit Tree Name</a><br></br>
  <a href="/family_trees/new">Create New Tree</a></p>

  <form action="/family_trees/<%=@tree.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete"/>
    <input type="submit" name="Delete Tree" id="Delete" value="Delete Tree"/>
  </form>

<h4><a href="/family_trees">All Trees</a></h3>

<h3><a href="/users/logout">Log Out</a></h3>


