<% unless locals.empty? %>
  <%= message %>
<% end %>

<h2>Edit Individual</h2>

<form action="/family_trees/<%=@tree.id%>/individuals/<%=@individual.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit Individual's Name:</label>

  <input type="text" name="individual[name]" id="name" value="<%=@individual.name%>"> 
  <br/>

  

  <p>Note: If you'd like to add parental or spousal relationships. Simply go to <a href="/family_trees/<%=@tree.id%>/individuals/new">Create New Individual</a> and type the name of the individual whom you'd like to add relations to, and then add the additional names and genders in the 3 other boxes.</p>

    <input type="submit" value='submit'/>
</form>

<p><a href="/family_trees/<%=@tree.id%>">Back to the <%@tree.name%> Tree!</a></p>
<p><a href="/users/logout">Log Out</a></p>
